<div class="board">
<!--(0,0)-->
    <p00><img ng-src={{board.p00.file}}></img></p00>
    <p10><img ng-src={{board.p10.file}}></img></p10>
    <p20><img ng-src={{board.p20.file}}></img></p20>
    <p30><img ng-src={{board.p30.file}}></img></p30>
    <p40><img ng-src={{board.p40.file}}></img></p40>
    <p50><img ng-src={{board.p50.file}}></img></p50>   
    <p60><img ng-src={{board.p60.file}}></img></p60>
    <p70><img ng-src={{board.p70.file}}></img></p70>
    <p01><img ng-src={{board.p01.file}}></img></p01>
    <p11><img ng-src={{board.p11.file}}></img></p11>
    <p21><img ng-src={{board.p21.file}}></img></p21>
    <p31><img ng-src={{board.p31.file}}></img></p31>
    <p41><img ng-src={{board.p41.file}}></img></p41>
    <p51><img ng-src={{board.p51.file}}></img></p51>   
    <p61><img ng-src={{board.p61.file}}></img></p61>
    <p71><img ng-src={{board.p71.file}}></img></p71>


    <p06><img ng-src={{board.p06.file}}></img></p06>
    <p16><img ng-src={{board.p16.file}}></img></p16>
    <p26><img ng-src={{board.p26.file}}></img></p26>
    <p36><img ng-src={{board.p36.file}}></img></p36>
    <p46><img ng-src={{board.p46.file}}></img></p46>
    <p56><img ng-src={{board.p56.file}}></img></p56>   
    <p66><img ng-src={{board.p66.file}}></img></p66>
    <p76><img ng-src={{board.p76.file}}></img></p76>
    <p07><img ng-src={{board.p07.file}}></img></p07>
    <p17><img ng-src={{board.p17.file}}></img></p17>
    <p27><img ng-src={{board.p27.file}}></img></p27>
    <p37><img ng-src={{board.p37.file}}></img></p37>
    <p47><img ng-src={{board.p47.file}}></img></p47>
    <p57><img ng-src={{board.p57.file}}></img></p57>   
    <p67><img ng-src={{board.p67.file}}></img></p67>
    <p77><img ng-src={{board.p77.file}}></img></p77>
</div>